*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    color: CanvasText;
    background-color: Canvas;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100svh;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
